body, html{
    margin: 0;
    padding: 0;
}
.hovedside{
    display: flex;
    flex-wrap: wrap;
}
#bildeheader {
    width: 100%;
}
.mobil {
	left: -10vh;
    top: 25vh;
}
#main1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	color: #373127;
    padding: 50px;
    background-size: 100%;
    height: inherit;
}
#main2 {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
    padding: 50px;
    background-image: url("Pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: inherit;
}
#main3 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	background-color: #1c1d22;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
    padding: 50px;
    background-size: 100%;
    height: inherit;
}
.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}
.centered {
	left: 10vh;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 10vw;
    padding-top: 10px;
    position: absolute;
    top: 25vh;
  }
  header img{
    width: 100%;
    margin-top: 7%;
    position: static;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.div_footer_flex{
    display: flex;
    width: 100%;
}