@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:ital,wght@0,300;1,400&display=swap');
@import url(https://fonts.googleapis.com/css?family=News+Cycle|Playfair+Display);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: white;
}

.hovedside{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.div_footer_flex{
    display: flex;
    width: 100%;
}

#bildeheader {
  width: 100%;
  height: inherit;
}

.img_header{
    width: 100%;
    position: static;
    padding-bottom: 0;
}
.p_header{
    margin-left: 40px;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 10vw;
    position: absolute;
    top: 5%;
}

p{
    font-size: 25px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}


#main1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	background-color: #ffffff;
	text-align: right;
	font-family: 'Roboto', sans-serif;
	color: #373127;
    padding: 5%;
    height: inherit;
}


.bilde1 {
    float: left;
    width: 35%;
}


#main2 {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
	height: inherit;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
    padding: 5%;
    background-image: url("Pictures/background.jpg");
    background-repeat: repeat;
}

#main3 {
    width: 100%;
    height: inherit;
	display: flex;
	flex-wrap: wrap;
	background-color: #1c1d22;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	padding: 5%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    
}

@media only screen and (max-width:1150px){

}

@media only screen and (max-width:837px){

}

@media only screen and (max-width:540px){
    .column {
        width: 100%;
    }
    .bildeheader {
        order: 2;
    }
  
    .banner{
        margin-top: 100px;
        position: relative;
        text-align: center;
        color: rgb(16, 78, 16);
        height: 200px;
    }
  
    .img-banner{
        height: 300px;
        width: 100%;
        opacity: 0.4;
    }
  
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width:441px){

}

@media only screen and (max-width:376px){

}
