h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    

    

}
.hovedside{
    margin-top: 100px;
    
}
.hovedside img{
 
    background-position:auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    
    

  
}
h1, image{
    height: 20px;
    background-size: auto;
    background-position: center;

}
.banner{
    margin-top: 100px;
   
    color: rgb(16, 78, 16);
    position: relative;
  
    
    
  }
  
  .img-banner{
      height: 300px;
    
  }

.bilde1{
 
float:left;
position: absolute;

}
.bilde{
    height: 100%;
    width: 100%;
    display: flex;
    
    
    
}

