body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-weight: 400;
    color: black;
    font-family: 'Raleway', sans-serif;
    /* line-height: 1.8em; */

}
.div_footer_flex{
    display: flex;
}

.pimg3,.pimg2,.pimg4, .pimg5, .pimg6, .pimg7{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2{
    background-image: url("Pictures/team.jpg");
    min-height: 500px;
    border-radius: 10px;
    transition-duration: 2200ms;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}
.pimg3{
    background-image: url("Pictures/team.jpg");
    min-height: 500px;
    border-radius: 10px;
    transition-duration: 2200ms;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.pimg5{
    background-image: url("Pictures/ocean.jpeg");
    min-height: 500px;
    border-radius: 10px;
    transition-duration: 2200ms;
}
.section-1{
    color: black;
    font-style: italic;
    text-emphasis-color: black;
    line-height: 1.8em;
    padding: 40px;
    text-align: center;
    
}

.section-2{
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-emphasis-position: right;
    line-height: 1.8em;
    padding: 40px;
    font-family :Verdana,Tahoma, sans-serif;
    line-height: 30px;
    margin: 80px;
}
.section-3{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    font-family :Verdana,Tahoma, sans-serif;
    line-height: 30px;
    margin: 80px;
    line-height: 30px;

}
.section-4{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px;
    font-family :Verdana,Tahoma, sans-serif;
    line-height: 30px;
    margin: 80px;
}

.section-6{
    padding: 40px;
    font-family :Verdana,Tahoma, sans-serif;
    line-height: 30px;
    margin: 80px;

}
    
.ptext{
    position: absolute;
    top: 50%;
    text-align: left;
    color: rgb(172, 172, 172);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
   
}

.ptext.border{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}

.ptext .ptext.border .trans{
    background-color: transparent;
}

.ptext1{
    font-size: 30px;
    padding-top: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(49, 124, 49);
    border-radius: 10px;
}
p{
    font-size: 25px;
    line-height: 1.8;
}
h2{
    font-size: 40px;
}
.li_section6{
    font-size: 25px;
    line-height: 1.8;
}
    
@media only screen and (max-width:1150px){
    p{
        font-size: 20px;
    }
    .li_section6{
        font-size: 20px;
    }
    .pimg3{
        min-height: 300px;
    }
    .pimg5{
        min-height: 300px;
    }
    .section-1{
        padding: 20px;
        margin: 40px;
    }
    .section-2{
        padding: 20px;
        margin: 40px;
    }
    .section-3{
        padding: 20px;
        margin: 40px;
    }
    .section-4{
        padding: 20px;
        margin: 40px;
    }
    .section-6{
        padding: 20px;
        margin: 40px;
    }
}

@media only screen and (max-width:837px){
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    .li_section6{
        font-size: 18px;
    }
    .section-1{
        padding: 15px;
        margin: 30px;
    }
    .section-2{
        padding: 15px;
        margin: 30px;
    }
    .section-3{
        padding: 15px;
        margin: 30px;
    }
    .section-4{
        padding: 15px;
        margin: 30px;
    }
    .section-6{
        padding: 15px;
        margin: 30px;
    }
    .pimg3{
        min-height: 250px;
    }
    .pimg5{
        min-height: 250px;
    }
}

@media only screen and (max-width:540px){
    .pimg1, .pimg2, .pimg3, .pimg4{
        background-attachment: scroll;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    .li_section6{
        font-size: 15px;
    }
    .section-1{
        padding: 5px;
        margin: 20px;
    }
    .section-2{
        padding: 5px;
        margin: 20px;
    }
    .section-3{
        padding: 5px;
        margin: 20px;
    }
    .section-4{
        padding: 5px;
        margin: 20px;
    }
    .section-6{
        padding: 5px;
        margin: 20px;
    }
    .pimg3{
        min-height: 200px;
    }
    .pimg5{
        min-height: 200px;
    }
}

@media only screen and (max-width:441px){
    h2{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .li_section6{
        font-size: 12px;
    }
    .pimg3{
        min-height: 100px;
    }
    .pimg5{
        min-height: 100px;
    }
}

@media only screen and (max-width:376px){
    h2{
        font-size: 18px;
    }
}
    
