body, html{
   
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    color: black;
    scroll-behavior: smooth;
    
} 

.appbilde1{
    margin-left: 90px;
    margin-right: -190px;
    background-image: url("Pictures/app-signup.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 830px;
    width: 16%;
    min-width: 200px;
    max-width: 290px;
    float: left;
    background-position-x: 50%;
    background-position-y:50%;
    border-radius: 10px;
}
.appbilde2{
    margin-left: -190px;
    margin-right: 90px;
    background-image: url("Pictures/app-profil.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 16%;
    min-width: 200px;
    max-width: 300px;
    float: right;
    background-position-x: 50%;
    background-position-y:50%;
    border-radius: 10px;
   
}



.pimg5{
    background-image: url("Pictures/grønn.jpeg");
    min-height: 700px;
    border-radius: 50px;
    
}

.section{

    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
   
}
.section-1{
    color: black;
    font-style: italic;
    text-emphasis-color: black;
  
}

.section-2{

    background-color: rgb(245, 239, 239);
    color: #000000;
    height: 570px;
    font-size: 30px;
}

.section-2 h2{
    color: rgb(85, 181, 96);
    text-align: center;
    margin-left: 490px;
    margin-right: 10%;
    
    
    
}

.paragraph2{
    line-height: 1.8;
    margin-left: 490px;
    margin-right: 10%;
}


.bla_ned{
    position: relative;
    margin-top: 10%;
    color: rgb(85, 181, 96);
    margin-left: 490px;
    margin-right: 10%;
}

.bla_ned a{
    text-decoration: none;
    color: rgb(85, 181, 96);
}

.bla_ned a:hover{
    text-decoration: underline;

}
.section-3{
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-emphasis-position: center;
    height: 660px;
    font-size: 30px;
    line-height: 1.8;

    
}

.section-3 h2{
    color: rgb(85, 181, 96);
    margin-right: 490px;
    margin-left: 10%;
}

.paragraph3{
    margin-right: 490px;
    margin-left: 10%;
}



/* Section 4 */


.app-navbar{
    background-image: url("Pictures/app-navbar.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left:37%;
    margin-right: 10%;
    border-radius: 10px;
    width: 500px;
    height: 90px;
    /*max-width: 10%; */      
}

.section-4{
    height: 580px;
    background-color: rgb(245, 239, 239);
    text-emphasis-position: center;
    font-size: 30px;
}

.section-4 h2{
    color: rgb(85, 181, 96);
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
}

.section-4 a{
    text-decoration: none;
    color: rgb(85, 181, 96);
}

.section-4 a:hover{
    text-decoration: underline;
}

                                                /* THE GAME */

.gamesection{
    width: 100%;
}

.game_image1, .game_image2, .game_image3{
    
    width: 16%;
    max-width: 270px;
    min-width: 160px;  
    padding: 30px 70px 1px 100px;
}



.gamesection-text{
    margin-top: 100px;
    font-size: 30px;
    line-height: 1.8;
    padding-left: 100px;

}

.gamesection h2{
    color: rgb(85, 181, 96);
}



.appbilde3{
    margin-left: 90px;
    margin-right: -190px;
    background-image: url("Pictures/app-AI.png");
    background-size: 100%;
    background-repeat: no-repeat;
  
    height: 830px;
    width: 16%;
    min-width: 200px;
    max-width: 290px;
    float: left;
    background-position-x: 50%;
    background-position-y:50%;
    border-radius: 10px;
   
}

.appbilde4{
    margin-left: -190px;
    margin-right: 90px;
    background-image: url("Pictures/app-startPicking.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 830px;
    width: 16%;
    min-width: 200px;
    max-width: 290px;
    float: right;
    background-position-x: 50%;
    background-position-y:50%;
    border-radius: 10px;
}

.paragraph4{
    line-height: 1.9;
}






.section-5{
    height: 900px;
    background-color: white;
    text-emphasis-position: center;
    font-size: 30px;
    padding-top: 90px;
}

.section5_image{
    float: left;
    width: 16%;
    padding: 5px;
    margin-left: 90px;
}

.productinfo h2{
    color: rgb(85, 181, 96);
    text-align: center;
}



.productinfo::after{
    content: "";
    clear: both;
    display: table;
    font-size: 30px;


} 

.gamesection{
    padding-top: 52px;
}

.paragraph5{
    line-height: 1.8;
    margin-left: 29%;
    margin-right: 10%;
}

/* Section 6*/

.section-6{
    padding-top: 90px;
    padding-bottom: 60px;
    text-emphasis-position: center;
    font-size: 30px;
    background-color: rgb(245, 239, 239);
}

.section6_image{
    float: right;
    padding: 5px;
    margin-right: 90px;
    width: 16%;
    min-width: 200px;   
}

.gameinfo h2{
    color: rgb(85, 181, 96);
    text-align: left;
    font-size: 40px;
    margin-left: 10%;

}



.gameinfo::after{
    content: "";
    clear: both;
    display: table;
    font-size: 30px;
} 

.paragraph6{
    line-height: 1.8;
    margin-left: 10%;
    margin-right: 35%;
    
}

    
    .ptext{
        position:absolute;
        top: 50%;
        text-align: left;
        color: rgb(172, 172, 172);
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }

.ptext.border{
    background-color: #111111;
    color:white;
    
   
}

.ptext .ptext.border .trans{
    background-color: transparent;
}

.ptext1{
    font-size: 30px;
    padding-top: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(0, 160, 13);
    border-radius: 10px;

}

.div_footer_flex{
    display: flex;
}


@media only screen and (max-width:1209px){

    .app-navbar{
        margin-left:26%;
        margin-right: 10%;
        border-radius: 10px;
        width: 500px;
        height: 90px;
       
    }
    
    .section-4{
        height: 580px;
        text-emphasis-position: center;
        font-size: 25px;
    }
    
    .section-4 h2{
        text-align: center;
        margin-top: 40px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 40px;
    }
    
    .game_image1, .game_image2, .game_image3{
    
        width: 16%;
        max-width: 270px;
        min-width: 160px;  
        padding: 30px 30px 1px 30px;
    }
    
    
}





@media only screen and (max-width:944px){
    .appbilde1{
        margin-top: 140px;
        margin-left: 40%;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 450px;
        width: 16%;
        min-width: 200px;  
        background-position: center top;
        border-radius: 10px;
    
    }


.section-2{
    background-color: rgb(245, 239, 239);
    color: #000000;
    padding-top: 590px;
    margin-left: 0;
    height: 250px;
    font-size: 30px;
    padding-top: 590px;
    height: 290px;
}

.section-2 h2{
    font-size: 30px;
    text-align: center;   
    margin-top: -90px;
    margin-right: 10%;
    margin-left: 10%;
}
    
    
    
    


.paragraph2{
    margin-left: 10%;
    margin-right: 10%;

}

.bla_ned{
    margin-left: 10%;
    margin-right: 10%;
}


.appbilde2{
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    margin-top: -70px;
}

.section-3{
    padding-top: 200px; 
    height: 750px;
}

.section-3 h2{
    text-align: center;   
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 30px;  
}

.paragraph3{
    margin-left: 10%;
    margin-right: 10%;
}

.app-navbar{
    background-image: url("Pictures/app-navbar.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left:35%;
    margin-right: 10%;
    border-radius: 10px;
    width: 300px;
    height: 90px;  
    
}

.section-4{ 
    height: 600px;
    width: 100%;
}

.section-4 h2{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;   
}

.paragraph4{
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.section5_image{   
    position: absolute;
    margin-left: 35%;
    margin-top: -10px;
    margin-bottom: 190px;
    border-radius: 10px;
    height: 350px;
    width: 190px;

}

.productinfo{

    margin-top: 300px;
}

.section-5 h2{
    
    font-size: 25px;
    text-align: center;
    margin-top: 130px;
    padding-top: 130px;
    margin-left: 10%;
    margin-right: 10%;
    
}

.paragraph5{
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}



} /**/


@media only screen and (max-width:750px){

    .appbilde1{
     
      

        margin-top: 50px;
        margin-bottom: 2px;
        margin-right: 29%;
            height: 600px;
            width: 16%;
            min-width: 200px;
            max-width: 300px;
            float: right;
            background-position-x: 50%;
            background-position-y:50%;
            border-radius: 10px;
    
    }


    .section-2{
    padding-top: 300px;
    margin-left: 0;
    height: 500px;
    font-size: 25px;
    }

    .section-2 h2{
    font-size: 25px;
    text-align: left;   
    margin-top: 160px;
    margin-right: 10%;
    margin-left: 90px;
    }

    .paragraph2{
    text-align: left;
    margin-left: 90px;
    margin-right: 10%;
    }

    .bla_ned{
    margin-left: 10%;
    margin-right: 10%;
    }

    .appbilde2{

        margin-top: -50px;
        margin-bottom: 2px;
        margin-right: 29%;
        
            
            background-image: url("Pictures/app-profil.png");
            background-size: 100%;
            background-repeat: no-repeat;
            height: 600px;
            width: 16%;
            min-width: 200px;
            max-width: 300px;
            float: right;
            background-position-x: 50%;
            background-position-y:50%;
            border-radius: 10px;
           
        
    }


    
    
    .section-3{
        padding-top: 200px;
        margin-left: 0;
        height: 800px;
        font-size: 25px;  
    }
    
    .section-3 h2{
        font-size: 25px;
        text-align: center;   
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
        
        
    }
    
    .paragraph3{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 25px;
    }


    .app-navbar{
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left:20%;
        margin-right: 35%;
        margin-top: 50px;
        margin-bottom: -90px;
        border-radius: 10px;
        width: 300px;
        height: 90px;
        
        
    }
    
    .section-4{
    
        width: 100%;
        height: 700px;  
    }
    
    .section-4 h2{
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
        margin-left: 10%;
        margin-right: 10%;    
    }
    
    .paragraph4{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .section-5{
        height: 690px;
    }

    .section5_image{
        position: absolute;
        margin-left: 35%;
        margin-top: -20px;
        margin-bottom: 190px;
        border-radius: 10px;
        height: 350px;
        width: 190px;
    }

    .productinfo{
        margin-top: 300px;
    }

    .section-5 h2{
        font-size: 25px;
        text-align: center;
        margin-top: 130px;
        padding-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        
    }

    .paragraph5{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .gamesection-text{
        font-size: 25px;
        margin-left: -11%;
        
    }

    .game_image1, .game_image2, .game_image3{
    
        width: 100px; 
        padding: 30px 30px 1px 35px;
       
    }


    .section-6{
        height: 900px;
    }


    .section6_image{
        position: absolute;
        margin-left: 35%;
        margin-top: 40px;
        border-radius: 10px;
        height: 350px;
        width: 190px;


    }

    .gameinfo{
        padding-top: 300px;
    }

    .section-6 h2{
        font-size: 35px;
        text-align: left;
        padding-top: 130px;
        margin-left: 10%;
        margin-right: 10%;
       
    }

    .paragraph6{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }



}

@media only screen and (max-width: 710px){
    .game_image1, .game_image2, .game_image3{
    
     
        width: 130px;
        min-width: 90px;  
        padding: 30px 30px 1px 30px;

        
    }

   

}



@media only screen and (max-width: 679px){


.app-navbar{
        margin-left:26%;
        margin-right: 10%;
        border-radius: 10px;
        width: 240px;
        height: 60px;   
       
    }
   
    
    .section-4 h2{
        text-align: center;
        margin-top: 110px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .game_image1, .game_image2, .game_image3{
    
       
        padding: 30px 20px 1px 20px;
        
    }

   

  
}

@media only screen and (max-width: 552px){

    .game_image1, .game_image2, .game_image3{
    
        width: 100px;
        min-width: 90px;  
        padding: 30px 40px 1px 3%;
    }

    .section-5{
        height: 800px;
    }

    
}

@media only screen and (max-width: 472px){

    .game_image1, .game_image2, .game_image3{
    
        width: 100px;
        min-width: 90px;  
        padding: 30px 20px 1px 3%;
    }   

    .section-6{
        height: inherit;
    }



}


@media only screen and (max-width: 434px){

.section-2{
    padding-top: 400px;
    margin-left: 0;
    height: 300px;
    font-size: 20px;
}

.section-2 h2{
    font-size: 20px;
    text-align: center;   
    margin-top: -90px;
    margin-right: 10%;
    margin-left: 10%;
}
    
    
.paragraph2{
    margin-left: 10%;
    margin-right: 10%;

} 

.bla_ned{
    margin-left: 10%;
    margin-right: 10%;
}


    .appbilde2{
        margin-top: -120px;
        margin-bottom: 150px;
      

        margin-left: -190px;
        margin-right: 120px;

        background-size: 100%;
        background-repeat: no-repeat;
        height: 600px;
        width: 16%;
        min-width: 200px;
        max-width: 300px;
        float: center;
        background-position-x: 50%;
        background-position-y:50%;
        border-radius: 10px;
       
        
    }
    
    .section-3{
        text-align: justify;
        padding-top: 100px;
        height: 750px;
    }
    
    .section-3 h2{
        font-size: 20px;
        margin-top: 300px;
         
    }
    
    .paragraph3{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }


    .app-navbar{
        margin-left: 30%;
        margin-right: 1px;
        padding: 1px;
        min-width: 166px;
        max-width: 190px;
        border-radius: 10px;
        height: 90px;
        background-size: 170px 30px;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 0;   
    }
    
    .section-4{
    
        height: 700px;
    }
    
    .section-4 h2{
        font-size: 20px;
        text-align: center;
        margin-top: -40px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .paragraph4{
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }

       .game_image1, .game_image2, .game_image3{
    
        width: 100px;
        min-width: 50px;  
        padding: 30px 1px 1px 1%;
    }

    .section5_image{
        width: auto;
        margin: auto;
        margin-left: 19%;
    }

    .section-5{
        height: 900px;
    }

    .section-6{
        padding-bottom: 90px;
        height: 1000px;
    }

    .section6_image{
        width: 90px;
        margin-left: 10%;
        
    }

}

@media only screen and (max-width: 323px){

   .appbilde1{
        
        margin-right: 15%;
        
    } 

    .appbilde2{
        margin-right: 15%;
    }



    .section-2 a{
        margin-top: -90px;

    }

    .app-navbar{
        margin-left: 22%;
       
    }

    
    .game_image1, .game_image2, .game_image3{
    
        width: 90px;
        min-width: 50px;  
        padding: 30px 1px 1px 1%;
    }
    
    .gamesection-text{
        margin-left: -25%;
        margin-right: 4%;
    }

    .section-6{
        height: 1200px;
    }


}